.center-content.jatekterem {
    max-width:100%;
    flex:100%;
}

:root {
    --border-color: rgba(70, 52, 20, 0.7);
}

* {
    box-sizing: border-box;
}

.comment-container {
    overflow: hidden;
}

#comment-move {
    transition: height .3s linear;
}

#jatekter {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: [start] auto [midline] 1fr [end];
    justify-items: center;
    align-items: start;
    
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(172, 167, 107, 0.945);
    padding: 2em;
    width: 100%;
    max-height:fit-content;
}

/*#jatekter:after {
    content: '';
    display:table;
    clear:both;
}*/

#jatek-left {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    /*width: 35%;*/
    min-width: 120px;
    height: fit-content;
}

#img-tronterem {
    max-width: 100%;
    height:auto;
    -webkit-mask-image: radial-gradient(circle at center, black, transparent);
    mask-image: radial-gradient(circle at center, black 30%, transparent 90%);
    overflow: hidden;
}

.chartable {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4em;
}

.mychar {
    flex:40%;
    padding: 0 0 0.5rem;
    height: fit-content;
}

.chartable > form {
    flex:60%;
    padding:0 0.5rem;
}

.charstory {
    flex:100%;
}

.chartable form {
    width:100%;

}

#comment-form:after {
    content: '';
    display: table;
    clear:both;
}

.chartable textarea {
    box-sizing: border-box;
    width:100%;
    height:6em;
    margin: 0 auto 0.5rem;
    display:block;
    resize: none;
    border-radius: 5px;
    border-style: solid;
    border-color: grey;
    border-width:1px;
}

#comment-area:focus {
    border: black 1.5px solid;
    outline:none;
}

#comment-submit, #comment-refresh {
    margin: 0 0 0 .2rem;
}

#jatekGombCont {
    display:flex;
    width:100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#jatek-mid, .mychar, #jatek-right, .winner, .comment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jatek-mid {
    grid-column: 2 / 2;
    grid-row: start / end;
    
    /*width: 65%;*/
}

.charmsg {
    max-width: 200px;
    margin: .5rem 0 0em;
    position: relative;
    padding: .5rem;
    width: 100%;
    border-radius:3px;
    word-wrap: break-word;
}

.charmsg::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    height:2px;
    width:100%;
    border-top: 1px solid black;
    -webkit-mask-image: linear-gradient(to right, transparent, black 40%, black 60%, transparent); 
    mask-image: linear-gradient(to right, transparent, black 40%, black 60%, transparent);
}

.knevLink {
    text-decoration: none;
    color:black;
}

.knevLink:hover > .charname, .knevLink:active > .charname {
    background-color: rgb(180, 180, 180);
}

.comment-container {
    visibility: hidden;
    min-width: 240px;
    transition: visibility .2s, opacity .5s, height .2s linear;
}

.comment {
    margin-bottom: 2em;
    width: 15rem;
    padding: .8rem;
    border-radius: 3px;
    border: rgba(225,225,225,1) 1px solid;
}

#jatek-mid .comment.tronon .img-avatar {
    max-width:150px;
    width: 70%;
}

#jatek-mid .comment.tronon {
    margin-bottom:3em;
}

.pagination {
    visibility: hidden;
    display: inline-block;
    transition: visibility .2s, opacity .5s linear;
}

.pagination a {
    float:left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 .2rem;
    color: black;
    user-select: none;
}

.pagination a.active {
    background-color: rgba(22, 43, 90, 1);
    color:white;
    border: 1px solid rgba(22, 43, 90, 1);
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    cursor:pointer;
}

#jatek-right {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    
    justify-content: center;
    /*width: 35%;*/
    margin: 10rem 0 0;
    height:fit-content;
}

.img-avatar {
    max-width: 100px;
    height:auto;
    width:60%;
}

.charname {
    display: block;
    box-sizing: border-box;
    font-size:large;
    background-color: lightgrey;
    text-align:center;
    border-radius:5px;
    padding: 0 1.5rem;
}

.chartime {
    display:block;
    min-height: 1.1em;
}

.winner .charname {
    border:2px rgba(255, 217, 0, 0.877) groove;
}

/*karakter*/

.weeklyprogress {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .3rem 0 !important;
}

p.weeklyprogress {
    margin-top: 0 !important;
}

.chartable.karakter {
    margin-top: 0;
}

.cikkely.karakter {
    max-width: 30rem;
    border: lightgrey 1px solid;
    margin: 1rem;
    border-radius: 5px;
}

article.karakter {
    display:flex;
    justify-content: center;
}

.charstory {
    background-color:whitesmoke;
    /*border: lightgray 1px solid;*/
    border-radius: 3px;
    padding: .5rem;
    margin-top:.5rem;
}

.karakter .charstory {
    margin-top:.2rem;
    text-align:left;
    
}

@media (max-width:600px) {
    #jatekter {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    
    #jatek-left {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }
    
    #jatek-mid {
        grid-row: 2 / 2;
        grid-column: 1 / 1;
    }
    
    #jatek-right {
        grid-row:  3 / 3;
        grid-column: 1 / 1;
    }
}

@media (max-width:1000px) {
    
    #jatekter {
        padding: 1rem;
    }
    .chartable {
        flex-direction: column;
    }
     .mychar .img-avatar{
        width:fit-content;
    } 

    .mychar .charname {
        min-width: 0;
        padding: 0 1.5rem;
    }
}
